.nuImage {
    width: 48px;
    height: 48px;
}
.column {
    font-family: Sharp Sans Display, Arial, sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}