body {
    font-family: Arial, Helvetica, sans-serif;
}

.contentContainer {
    display: flex;
    margin: auto;
    padding-right: 200px;
        padding-left: 200px;
}

.zijContainer {
    width: 30%;
}

.artikelContainer {
    width: 60%;
    margin-right: 30px;
}
.artikelAfbeelding {
    border-radius: 10px;
    width: 100%;
}

.artikelTitel {
    position: absolute;
    bottom: -10px;
        right: 25px;
        left: 25px;
        font-size: 13px;
        text-align: left;
}

.afbeeldingTitelBox {
    position: relative;
    text-align: center;
    color: white;
}

.samenvatting {
    font-weight: bold;
}

.postInfo {
    color: #878787;
    font-size: 13px;
}
hr.divider {
    border-top: 1px solid #878787;
}