body {
    font-family: Helvetica, Arial, sans-serif;
}

.tabelOverzicht th {
    background-color: #030151;
    color: white;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 8px;
}

.tabelOverzichtCenter {
    text-align: center;
}

.tabelOverzicht {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.tabelOverzicht td {
    border: 1px solid #ddd;
    padding: 8px;
}

.verwijder {
    max-width: 20px;
}
#popup {
    display: none;
    flex-direction: column;
    top: 0px;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;

}

#deletepopupbuttons {
    display: flex;
    flex-direction: row;
}

.cancel {
    background-color: white;
    color: black;
}