body {
    font-family: Helvetica, Arial, sans-serif;
}

.tabelOverzicht th {
    background-color: #030151;
    color: white;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 8px;
}

.tabelOverzichtCenter {
    text-align: center;
}

.tabelOverzicht {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.tabelOverzicht td {
    border: 1px solid #ddd;
    padding: 8px;
}

.verwijder {
    max-width: 20px;
}