@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
    font-family: 'Sharp Sans Display';
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/SharpSansDispNo2-Bold.otf") format("opentype");
}

:root {
    --dpg-yellow: #FFB12F;
    --dpg-yellow-darker: #FFA510;
    --dpg-yellow-light: #FFF5e0;
    --dpg-error-background: hsl(4, 73%, 96%);
    --dpg-error-background-dark: hsl(4, 73%, 63%);
    --dpg-red: #FE6C59;
    --error-red: #DF2114;
    --dpg-success: #77C06B;
    --dpg-success-on-yellow-light: #4c7b44;
    --hover-blue: hsl(199, 39%, 90%);
    --selected-blue: #008BC3;
    --light-blue: #0486BE;
    --dark-blue: #02405A;

    --semi-trans-white: #F2F2F24C;
    --light-gray: #B4B4B46B;

    --white: #FFF;
    --dpg-white: #F8F8F8;
    --dpg-medium-grey: #E6E6E6;
    --lighter-gray: #B4B4B4;
    --gray: #777;
    --dpg-muted-text: #666666;
    --dpg-dark-mode-gray: #3D3D3D;
    --semi-dark-gray: #333;
    --dark-gray: #2D2D2D;
    --darker-gray: #202020;
    --black: #000;
    --error-block: #FCEDEC;

    --pswmeter: #EEE;
}

.nuImage {
    width: 48px;
    height: 48px;
}

.column {
    font-family: Sharp Sans Display, Arial, sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.width {
    width: 100%;
}



/* Styling Footer Werkte anders niet met styling want moet scrollable bij deze zijn */

.footer-styling {
    font-size: 14px;
    display: flex;
    position: absolute;
    padding: 12px;
    align-content: center;
    flex-direction: row;
    justify-content: space-around;
    bottom: -15;
    left: 0;
    width: 98%;
}

.left {
    display: flex;
    gap: 40px;
}

.link-component {
    font-family: Montserrat;
    cursor: pointer;
    display: inline-block;
    color: var(--darker-gray);
    text-decoration: underline;
}

.dpgRechten {
    font-family: Montserrat;
    cursor: pointer;
    display: inline-block;
    color: var(--darker-gray);

}

@media only screen and (max-width: 960px) {
    .footer-styling {
        display: flex;
        background-color: var(--dark-gray);
        flex-direction: column;
        align-items: center;
        margin-bottom: -10;
    }

    .link-component {
        font-family: Montserrat;
        cursor: pointer;
        display: inline-block;
        color: var(--white);
        text-decoration: underline;
    }

    .dpgRechten {
        font-family: Montserrat;
        cursor: pointer;
        display: inline-block;
        color: var(--white);
    }
}

button {
    color: black;
    background-color: #FFB12F;
    border: none;
    width: 100%;
    font-family: Montserrat, Arial, sans-serif;
}

button:hover {
    background-color: #FFA510;
    cursor: pointer;
}

#cube {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF5e0;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}

#mail {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 13px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    margin-bottom: 10px;
}

#thin {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.text-deco {
    text-decoration: none;
}

a {
    color: black;
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
}
.a {
    color: black;
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

a:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

p {
    color: var(--gray);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

#spacing {
    margin-bottom: 1em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 340px;
    margin: auto;
}

input[type="text"],
input[type="password"] {
    width: 90%;
    height: 4em;
    border-width: thin;
    border-radius: 3px;
    border-color: var(--dpg-medium-grey);
    border-style: solid;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-left: 5%;
    padding-right: 5%;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: 1px solid var(--dpg-yellow);
    border-color: white;
}

.ten {
    text-decoration: dashed;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: gray;
    font-size: 14px;
}

.checkbox {
    color: var(--dpg-medium-grey);
}

label:hover {
    cursor: pointer;
}

.size {
    font-size: 17px;
}

img {
    margin-top: 20px;
}

span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.error {
    color: var(--dpg-red);
}